/* body{
    margin: 0;
    padding: 0;
}
.background{
    background: url("Images/Background.jpeg") no-repeat center center/cover ;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100vh;
    
} */

  